<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text"
                name="termino"
                class="form-control"
                [(ngModel)]="termino"
                placeholder="Buscar país...">
        </form>
    </div>
</div>

<hr>

<div class="alert alert-danger">
    No se encotró nada con el término 
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bandera</td>
                    <td>nombre</td>
                    <td>1345464</td>
                    <td>
                        <a href="">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>